.floating-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #c8232c;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
}

.floating-button:hover {
  background-color: #990f02;
  opacity: 1;
}

.floating-button:active {
  background-color: #d0312d;
  box-shadow: 0 0 0 2px #d0312d;
}
